<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe Page</title>
  </head>
  <body>
    <h1><%= @recipe.name %></h1>
    <p>Ingredients: <%= @recipe.ingredients %></p>
    <p>Cook Time: <%= @recipe.cook_time %> minutes</p>
    <form action="/recipes/<%= @recipe.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
    <br>
    <a href="/recipes/<%= @recipe.id %>/edit">Edit/Update this Recipe</a>
    <a href="/recipes/new">Add New Recipe</a>
    <a href="/recipes">All Recipes</a>
  </body>
</html>
